# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Mac system files
.DS_Store
**/.DS_Store

# Compiled class files / Maven build folder
target/
*.class